/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-green: linear-gradient(
        90deg,
        rgb(10, 52, 6) 0%,
        rgb(9, 112, 32) 100%
    );
    --bg-darkergreen: linear-gradient(
        90deg,
        rgb(84, 68, 7) 0%,
        rgb(50, 45, 5) 100%
    );
    --bg-red: linear-gradient(
        90deg,
        rgb(40, 137, 32) 0%,
        rgb(10, 86, 33) 100%
    );
    --bg-brown: linear-gradient(
        90deg,
        rgb(158, 106, 16) 0%,
        rgb(69, 44, 3) 100%
    );
    --bg-white: white;
    --bg-modal: #0e110eaf;
    --text-white: white;
    --text-dark: rgb(54,54,54);
    --text-light: #c7c7c7;
    --text-gold: rgb(255,217,0);
    --dark:#080808;
    --border: 0.1rem solid rgb(236, 220, 220);
}

body{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly;
    background: var(--bg-green);
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 0;
    font-size: 1rem;
}
h1:hover, h2:hover{
    cursor: default;
}

/* INFO */

#info{
    text-align: center;
    width: 15rem;
    color: var(--text-gold);
}
#info__title{
    font-size: 2rem;
}
.info__player{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: var(--border);
    color: var(--dark);
    background: var(--bg-white);
}
.info__player__icon{
    height: 1.3rem;
    padding-top: 0.13rem;
}
.cross{
    background-image: url(assets/cross.png);
}
.circle{
    background-image: url(assets/circle.png);
}
.cross, .circle{
    background-size: cover;
}

/* GRID */

#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 25rem;
    width: 25rem;
    grid-gap: 0.45rem; /*16px = 1rem*/
    padding: 0.45rem;
    border-radius: 0.5rem;
    background: var(--bg-brown);
}
.grid__square{
    background-color: var(--bg-white);
    border-radius: 0.4rem;
    border: var(--border);
}
.grid__square:hover{
    cursor: pointer;
}

/* Instructions */

#instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19rem;
}
#instructions__text{
    text-align: center;
    font-size: 1rem;
    color: var(--text-gold);
}
#instructions__btn{
    cursor: pointer;
    width: 8rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background: var(--bg-darkergreen);
    border: var(--border);
    color: var(--bg-white);
}
#instructions__btn:active{
    transform: translateY(0.13rem);
}

/* Modal */

#modal{
    display: none; 
    align-items: center;
    position: absolute;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-modal);
}
#modal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 40%;
    border-radius: 2rem;
    color: var(--text-gold);
    background: var(--bg-red); 
    border: var(--dark) solid 0.1rem;
}

/* Form */

form{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
label{
    display: none;
}
input{
    margin: 1.25rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.625rem 1.25rem;
}
::placeholder{
    font-style: italic;
}
input[type="submit"]{
    background: var(--bg-darkergreen);
    color: var(--text-white);
    border: white solid 0.05rem;
}
input[type="submit"]:active{
    background: var(--bg-darkergreen);
    transform: translateY(0.14rem);
}

/* Media Queries */

@media(max-width: 1100px){
    #grid{
        width: 18.75rem;
        height: 18.73rem;
    }
    #info__title{
        margin: 0 0 1rem;
    }
    body{
        align-content: center;
    }
    #modal__content{
        text-align: center;
        height: 60%;
        width: 80%;
    }
    input{
        width: 10rem;
    }
}